numpy==1.26.4
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pydantic
python-dotenv
python-multipart
aiofiles
argon2-cffi
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
apscheduler
email-validator
stripe
httpx
pgvector
sentence-transformers
google-generativeai
opencv-python
mediapipe
ultralytics
Pillow
open_clip-torch